@{
    ViewBag.Title = "User Details";
}

<h2>User Details</h2>

@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <p>Error: @ViewBag.ErrorMessage</p>
}
else
{
    <p>User Email: @ViewBag.UserEmail</p>
    <p>User Height: @ViewBag.UserHeight</p>
}